

<div class="jumbotron-hero">
  
           <div class="container d-flex flex-column justify-content-center align-items-center py-5 text-dark">
    <h1>Bienvenue <%=  "#{@user.first_name} #{@user.last_name}"%>!</h1>
    <h1>Tu trouveras ici tout les derniers potins ! </h1>
          </div>


            <div class="d-grid gap-2 d-md-flex justify-content-md-center py-5">
                <a href="<%=new_gossip_path%>"><button class="btn btn-primary" type="button" >Je créer un Gossip</button></a>
                
            </div>
        </div>



<div class="row">

  <% @gossips.sort_by{|g| - g.id}.each do |gossip| %>
    <div class="col-md-4">
      <div class="card mb-3">
        
        <div class="card-body">
          <h5 class="card-title"><%= gossip.title %></h5>
          <p class="card-text">Par : <%= gossip.user.first_name %></p>
          <p class="card-text"><%= gossip.content %></p>
          <%= link_to "Voir plus", gossip_path(gossip), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%#  %>